<!DOCTYPE html>
<html lang="zh-CN" dropeffect="none" class="js  is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox touchevents mobile">

<head>
  <meta http-equiv=”Content-Type” content=”text/html; charset="utf-8">
  <title>Hello</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no">
  <script src="./config/config.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
<script>
   
document.body.style.overflowX='hidden';
</script>
</html>