.login-logo{
    height: 150px;
    text-align:center;
    img{
        width: 60%;
        height: 60%;
    }
}
.login-switch{
    color: #1A76D2;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}
.top-input{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top:1px solid #eee;
}
.bottom-input{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom:1px solid #eee;
}
.am-toast > span{
 max-width:60%;
}

.splice-line{
  border:.5px solid #eee;
  height:0px;
}