@import './common/reset.scss';
@import './common/variable.scss';
@import './common/custom.scss';
@import '../fonts/iconfont/iconfont.css';
@import './common/global.scss';

body{
  min-width: 1024px;
  color: $font;
  background: $bg;
  font: 12px "Helvetica Neue", Helvetica, "Microsoft YaHei", "open sans",  Arial, sans-serif;
}
