<!DOCTYPE html>
<html lang="zh-CN" dropeffect="none" class="js  is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox touchevents mobile">

<head>
  <meta http-equiv=”Content-Type” content=”text/html; charset="utf-8">
  <title>中金易云</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no">

  <script src="./libs/flexible/index.min.js"></script>
  <script src="./config/config.js"></script>
  <script src="./libs/buryPoint.js"></script>
  <!-- <script src='./libs/encrypt.js'></script> -->
</head>

<body>
  <div id="root"></div>
</body>
<script>
  document.body.style.overflowX = 'hidden';
</script>
</html>